body {
    margin: 10;
}


#main {
    width: 100%;
    height: 100%;

}

#loginCont {
    padding: 10;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}

#logoCont {
    width: 100%;
    align-content: center;
}
